<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Ontdek de Smaak van Jamaica</h1>
            <nav>
                <ul>
                    <li><a href="/">Gerechten</a></li>
                    <li><a href="#over">Over Jamaica</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>